:root {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    --whiteish: #e5e5e5;
    --blackish: #121212;
    --blackish2: #272726;
    --blackish3: #464644;
    --lavender: #b5b2f2;
    --black: #000000;
    --white: #ffffff;
    --grey: #d9d9d9;
    --greyish: #c7c7c7;
    --greyish2: #757575;
    --mainBlue: #6384ff;
    --mainBlueDarkened: #546dc9;
    --mainBlueDarkened2: #546dc982;
    --mainPurple: #9672d0;
    --mainPurpleDarkened: #9672d0a8;
    --darkBlueShade1: #19171a;
    --darkBlueShade2: #1c1e21;
    --darkBlueShade3: #22242b;
    --darkBlueShade4: #292a2f;
    --darkBlueShade5: #313338;
    --primary: var(--mainBlue);
    --primaryHovered: var(--mainBlueDarkened);
    --secondary: var(--mainPurple);
    --secondaryHovered: var(--mainPurpleDarkened);
    --contentBg1: var(--darkBlueShade1);
    --contentBg2: var(--darkBlueShade2);
    --contentBg3: var(--darkBlueShade3);
    --contentBg4: var(--darkBlueShade4);
    --contentBg5: var(--darkBlueShade5);
    --primaryTextColor: var(--white);
    --headerColor: var(--whiteish);
    --bodyColor: var(--whiteish);
    --linkColor: var(--lavender);
    --linkColorHovered: var(--lavender);
    
    /* background-color: #242424; */
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    min-height: 100vh;
  }
  
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
  
  
  #app {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  } 
  
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
  #drag {
    position: absolute;
    left: -4px;
    top: 0;
    bottom: 0;
    width: 8px;
    cursor: w-resize;
  }